# Desafio Acelera Jovem - 1º Trimestre
## Python Fundamentals


Neste desafio você estará criando um mini sistema de gerenciamento de vendas, <br> armazenando dados localmente (em uma variável). <br> Seu conhecimento de Estruturas de decisão, estruturas de repetição, criação de variáveis e funções serão testados.
<br><br>
## Objetivos
No item 1, será solicitada a criação de uma função para cadastrar produtos em uma lista de dicionários, simulando um banco de dados.<br>
No item 2, será solicitada a criação de uma função para realizar a compra de produtos cadastrados no item 1, levando em consideração sua quantidade em estoque. Assim como a criação de um "histórico de compras". <br>
No item 3 você irá analisar os dados do histórico de compras. <br>

Estes itens podem ser abordados da forma que você preferir. Usando qualquer biblioteca e abordagem, contando que os critérios listados nos subitens sejam realizados. <br> <br>

### 1 - Cadastro de produtos
1.1- Crie uma **função** com o nome **cadastro_produto** para realizar o cadastro de produtos. Solicite input do usuário para cadastrar os itens. <br>
1.2- Os dados de produtos devem ser salvos em uma **lista de dicionários**. A variável deve se chamar **lista_produtos**. O dicionário de produtos deve conter os seguintes campos e tipos (abaixo apresenta-se: nome_da_variável (tipo) - descrição):<br> **id (int) - id do produto,<br> nome_produto (string) - nome do produto, <br>preco (int) - preço do produto, <br>qtd_estoque (int) - quantidade do produto em estoque** <br>
1.2.1 Crie uma função chamada **verifica_int** para verificar se o valor que o usuário digitou para as variaveis preco e qtd_estoque são int. Caso não sejam, alerte o usuário e solicite uma correção.<br>
1.3- O cadastro deve ser incremental (sem perder os produtos que já foram previamente cadastrados*(Claro, se o cluster do collab desligar os produtos cadastrados irão ser apagados)*). Se o usuário executar a função 2 vezes, os dados das duas execuções devem permanecer salvos.<br>
1.4- O campo **id deve aumentar conforme itens são cadastrados**. O primeiro id de produtos deve ser 0 e aumentar de 1 em 1 conforme itens são cadastrados. O campo **id deve ser único**, ou  seja, não deve se repetir. <br>
1.5- Antes de salvar o produto na lista, apresente os dados preenchidos pelo usuário e pergunte ao usuário se os dados estão corretos. Caso estejam, salve o produto na lista. Caso não estejam, solicite ao usuário que realize o cadastro novamente. Garanta que não serão levantados erros caso o usuário digite um valor diferente do esperado neste input.

In [ ]:
import pandas as pd

In [ ]:
def resetar_estoque():
  global lista_produtos, id_lista, nome_produto, preco, qtd_estoque
  lista_produtos = []
  id_lista = [0] 
  nome_produto = []
  preco = []
  qtd_estoque = []
resetar_estoque()

In [ ]:
def cadastro_produto(id): #1.1- Crie uma função com o nome cadastro_produto para realizar o cadastro de produtos. Solicite input do usuário para cadastrar os itens. 
  global df  #1.3- O cadastro deve ser incremental (sem perder os produtos que já foram previamente cadastrados(Claro, se o cluster do collab desligar os produtos cadastrados irão ser apagados)). Se o usuário executar a função 2 vezes, os dados das duas execuções devem permanecer salvos.
  nome = input('Digite o nome do produto: ')
  nome_produto.append(nome)
  valor = (input('Digite o valor do produto: '))
  def verifica_int(valor): #1.2.1 Crie uma função chamada verifica_int para verificar se o valor que o usuário digitou para as variaveis preco e qtd_estoque são int. Caso não sejam, alerte o usuário e solicite uma correção.
    global dinheiro
    try:
        int(valor)
        it_is = True
        dinheiro = int(valor)
    except ValueError:
        it_is = False
        if it_is == False:
          print('O valor deve ser inteiro !')
          valor = (input('Digite o valor do produto: '))
          verifica_int(valor)
  verifica_int(valor)
  #print(dinheiro, type(dinheiro))
  valor = dinheiro
  preco.append(valor)

  quantidade = input('Digite a quantidade de estoque: ')
  def verifica_int(quantidade):
    global acervo
    try:
        int(quantidade)
        it_is = True
        acervo = int(quantidade)
    except ValueError:
        it_is = False
        if it_is == False:
          print('A quantidade deve ser inteiro !')
          quantidade = (input('Digite a quantidade de estoque: '))
          verifica_int(quantidade)
  verifica_int(quantidade)
  #print(acervo, type(acervo))
  quantidade = acervo
      
  qtd_estoque.append(quantidade)

  ultimo = id_lista[-1]
  print('Produto registrado --- id:', ultimo, ' --- Nome:', nome, ' --- preco:', valor, ' --- estoque:', quantidade) 
  id_lista.append(ultimo+1)#1.4- O campo id deve aumentar conforme itens são cadastrados. O primeiro id de produtos deve ser 0 e aumentar de 1 em 1 conforme itens são cadastrados. O campo id deve ser único, ou seja, não deve se repetir.
  certo = input('Os dados estão corretos: ( y / n ):') #1.5- Antes de salvar o produto na lista, apresente os dados preenchidos pelo usuário e pergunte ao usuário se os dados estão corretos. Caso estejam, salve o produto na lista. Caso não estejam, solicite ao usuário que realize o cadastro novamente. Garanta que não serão levantados erros caso o usuário digite um valor diferente do esperado neste input.
  if certo == 'n':
    #print('Realize o cadastro novamente')  
    nome_produto.pop(-1)
    #print(nome_produto)
    preco.pop(-1)
    #print(preco)
    qtd_estoque.pop(-1)
    #print(qtd_estoque)
    id_lista.pop(-1)
    cadastro_produto(id)

  loop = input('Deseja anexar mais produtos: ( y / n ):')
  if loop == 'y':
    cadastro_produto(id)

  df = pd.DataFrame(list(zip(id_lista,nome_produto,preco,qtd_estoque)), columns = ['Id','Nome','Preço','Estoque']) #1.2- Os dados de produtos devem ser salvos em uma lista de dicionários


cadastro_produto(id)
display(df)

Digite o nome do produto: Banana
Digite o valor do produto: 15
Digite a quantidade de estoque: 285
Produto registrado --- id: 6  --- Nome: Banana  --- preco: 15  --- estoque: 285
Os dados estão corretos: ( y / n ):y
Deseja anexar mais produtos: ( y / n ):n

   Id    Nome  Preço  Estoque
0   0     ovo      1      200
1   1     pão      2      250
2   2   leite      3       50
3   3  queijo      4       95
4   4    bala      7        8
5   5  frango      8        9
6   6  Banana     15      285

### 2 - Compra de produtos
2.1 - Crie uma função chamada **comprar_produto**.<br>
2.2 - A função deve solicitar o input do usuário, recebendo o id (que equivale ao id do produto cadastrado) e a quantidade de produtos que o usuário deseja comprar.<br>
2.3 - Busque o produto por seu id (dica: utilize list comprehension). Caso o id não exista, informe o usuário e solicite um novo id.<br>
2.4 -  Caso a quantidade de produtos que o usuario deseja comprar seja maior que a em estoque, gere um alerta ao usuário que a operação é impossível e informe a quantidade em estoque.<br>
2.5- Após o usuário inserir um valor válido de quantidade de produtos a serem comprados, apresente o valor total da compra e pergunte se o usuário deseja concluir a compra. (valor total se dá pela multiplicação da quantidade de itens a serem comprados pelo preço do produto)<br>
2.6 Se o usuário optar por finalizar a compra atualize a quantidade de produtos em estoque (na variável lista_produtos) subtraindo pela quantidade comprada pelo usuário.<br>
2.7 Crie uma lista de dicionários chamada **lista_compra** para armazenar informações referentes a compra realizada. Cada produto comprado deve ser um dicionário a mais na lista. O dicionário deve conter o seguinte formato:<br>
id_compra (int) <br>
id_produto (int) <br>
qtd_comprada (int)<br>
valor_total (int)<br>
A variável id_compra deve seguir os mesmos critérios do item 1.4

In [ ]:
def resetar_compras():
  global lista_compra, id_compra, id_produto, qtd_comprada, valor_total
  lista_compra = []
  id_compra = [0]
  id_produto = []
  qtd_comprada = []
  valor_total = []
resetar_compras()

In [ ]:
#2.7 Crie uma lista de dicionários chamada lista_compra para armazenar informações referentes a compra realizada. Cada produto comprado deve ser um dicionário a mais na lista. O dicionário deve conter o seguinte formato:
display(df)
def comprar_produto(): #2.1 - Crie uma função chamada comprar_produto
  global df, df_compras
  idn = int(input(print('Digite o id do produto'))) #2.2 - A função deve solicitar o input do usuário, recebendo o id (que equivale ao id do produto cadastrado)
  confereid = False
  for i in id_lista: #2.3 - Busque o produto por seu id (dica: utilize list comprehension). Caso o id não exista, informe o usuário e solicite um novo id.
    if i == idn:
      confereid = True
      print('ID encontrado!')
      quantidade = int(input(print('Digite a quantidade do produto'))) #2.2 - A função deve solicitar o input do usuário, recebendo a quantidade de produtos que o usuário deseja comprar.
      produto_selecionado = df.loc[df['Id']== idn]
      display(produto_selecionado)
      for j in produto_selecionado.index: 
        quantidade_estoque = int(produto_selecionado['Estoque'][j])
        valor_unid = int(produto_selecionado['Preço'][j])
        nome = (produto_selecionado['Nome'][j])
        Idprod = (produto_selecionado['Id'][j])
        if quantidade_estoque < quantidade:
          print('A operação é impossível não existe estoque suficiente !')#2.4 -  Caso a quantidade de produtos que o usuario deseja comprar seja maior que a em estoque, gere um alerta ao usuário que a operação é impossível e informe a quantidade em estoque.
          comprar_produto()
        else: #2.5- Após o usuário inserir um valor válido de quantidade de produtos a serem comprados, apresente o valor total da compra e pergunte se o usuário deseja concluir a compra. 
          valor_compra = quantidade * valor_unid #(valor total se dá pela multiplicação da quantidade de itens a serem comprados pelo preço do produto)
          print('O valor total da compra é:', valor_compra) 
          compra = input('Deseja comprar ? ( y / n ) :')
          if compra == 'n':
            break
          elif compra == 'y':#2.6 Se o usuário optar por finalizar a compra atualize a quantidade de produtos em estoque (na variável lista_produtos) 
            print('Compra finalizada')
            estoque_final = quantidade_estoque - quantidade #subtraindo pela quantidade comprada pelo usuário.
            df.loc[df['Nome'] == nome, 'Estoque'] = estoque_final
            print('Dataframe produtos:')
            display(df)
            print('Dataframe compras:')
            ultimo = id_compra[-1]          
            #id_compra (int)
            #id_produto (int)
            #qtd_comprada (int)
            #valor_total (int)
            #print(id_compra)
            id_produto.append(int(Idprod))
            #print(id_produto)
            qtd_comprada.append(int(quantidade))
            #print(qtd_comprada)
            valor_total.append(int(valor_compra))
            #print(valor_total)
            df_compras = pd.DataFrame(list(zip(id_compra,id_produto,qtd_comprada,valor_total)), columns = ['id_compra','id_produto','qtd_comprada','valor_total'])
            display(df_compras)
            id_compra.append(ultimo+1)

            loop = input('Deseja fazer mais compras: ( y / n ):')
            if loop == 'y':
              comprar_produto()

  if confereid == False:
    print('O ID escolhido não foi encontrado. \nDigite outro id por favor !')
    comprar_produto()
comprar_produto()

   Id    Nome  Preço  Estoque
0   0     ovo      1      200
1   1     pão      2      245
2   2   leite      3       50
3   3  queijo      4       54
4   4    bala      7        8
5   5  frango      8        9
6   6  Banana     15      285

Digite o id do produto
2
ID encontrado!
Digite a quantidade do produto
25

   Id   Nome  Preço  Estoque
2   2  leite      3       50

O valor total da compra é: 75
Deseja comprar ? ( y / n ) :y
Compra finalizada
Dataframe produtos:

   Id    Nome  Preço  Estoque
0   0     ovo      1      200
1   1     pão      2      245
2   2   leite      3       25
3   3  queijo      4       54
4   4    bala      7        8
5   5  frango      8        9
6   6  Banana     15      285

Dataframe compras:

   id_compra  id_produto  qtd_comprada  valor_total
0          0           1             5           10
1          1           3            41          164
2          2           2            25           75

Deseja fazer mais compras: ( y / n ):y
Digite o id do produto
1
ID encontrado!
Digite a quantidade do produto
25

   Id Nome  Preço  Estoque
1   1  pão      2      245

O valor total da compra é: 50
Deseja comprar ? ( y / n ) :y
Compra finalizada
Dataframe produtos:

   Id    Nome  Preço  Estoque
0   0     ovo      1      200
1   1     pão      2      220
2   2   leite      3       25
3   3  queijo      4       54
4   4    bala      7        8
5   5  frango      8        9
6   6  Banana     15      285

Dataframe compras:

   id_compra  id_produto  qtd_comprada  valor_total
0          0           1             5           10
1          1           3            41          164
2          2           2            25           75
3          3           1            25           50

Deseja fazer mais compras: ( y / n ):y
Digite o id do produto
1
ID encontrado!
Digite a quantidade do produto
40

   Id Nome  Preço  Estoque
1   1  pão      2      220

O valor total da compra é: 80
Deseja comprar ? ( y / n ) :y
Compra finalizada
Dataframe produtos:

   Id    Nome  Preço  Estoque
0   0     ovo      1      200
1   1     pão      2      180
2   2   leite      3       25
3   3  queijo      4       54
4   4    bala      7        8
5   5  frango      8        9
6   6  Banana     15      285

Dataframe compras:

   id_compra  id_produto  qtd_comprada  valor_total
0          0           1             5           10
1          1           3            41          164
2          2           2            25           75
3          3           1            25           50
4          4           1            40           80

Deseja fazer mais compras: ( y / n ):y
Digite o id do produto
4
ID encontrado!
Digite a quantidade do produto
85

   Id  Nome  Preço  Estoque
4   4  bala      7        8

A operação é impossível não existe estoque suficiente !
Digite o id do produto
5
ID encontrado!
Digite a quantidade do produto
4

   Id    Nome  Preço  Estoque
5   5  frango      8        9

O valor total da compra é: 32
Deseja comprar ? ( y / n ) :y
Compra finalizada
Dataframe produtos:

   Id    Nome  Preço  Estoque
0   0     ovo      1      200
1   1     pão      2      180
2   2   leite      3       25
3   3  queijo      4       54
4   4    bala      7        8
5   5  frango      8        5
6   6  Banana     15      285

Dataframe compras:

   id_compra  id_produto  qtd_comprada  valor_total
0          0           1             5           10
1          1           3            41          164
2          2           2            25           75
3          3           1            25           50
4          4           1            40           80
5          5           5             4           32

Deseja fazer mais compras: ( y / n ):y
Digite o id do produto
4
ID encontrado!
Digite a quantidade do produto
2

   Id  Nome  Preço  Estoque
4   4  bala      7        8

O valor total da compra é: 14
Deseja comprar ? ( y / n ) :n

### 3 - Análise de compras
Utilizando a lista de compras, apresente os resultados solicitados abaixo: <br>
3.1 - Realize o cálculo da quantidade média de compras <br>
3.2 - Realize o cálculo do valor total médio das compras  <br>
3.3 - Apresente o somatório do valor total das compras realizadas  <br>
3.4 - Apresente qual produto foi o mais comprado e o somatório de seu valor  total. <br>

In [ ]:
def relatorio():
  media_compra = df_compras['qtd_comprada'].mean()
  print('3.1 - Realize o cálculo da quantidade média de compras: ',media_compra)

  media_valor_total = df_compras['valor_total'].mean()
  print('3.2 - Realize o cálculo do valor total médio das compras: ',media_valor_total)

  sum_valor_total = df_compras['valor_total'].sum()
  print('3.3 - Apresente o somatório do valor total das compras realizadas: ',sum_valor_total)
  
  mais_pedido = pd.pivot_table(df_compras,index=['id_produto'], values='qtd_comprada', aggfunc='sum').sort_values(ascending=False,by='qtd_comprada')[:1]
  mais_pedido['id_produto'] = mais_pedido.index
  lista_mais_pedidos = mais_pedido['id_produto'].tolist()
  #print(lista_mais_pedidos[0],type(lista_mais_pedidos[0]))
  df_produto = df_compras['id_produto']==lista_mais_pedidos[0]
  filtered_df = df_compras[df_produto]
  #display(filtered_df)
  df_produtos = df['Id']==lista_mais_pedidos[0]
  filtro_df = df[df_produtos]
  #display(filtro_df)
  nome_mais_pedidos = filtro_df['Nome'].tolist()
  nome_mais_pedido = nome_mais_pedidos[0]
  sum_produto = filtered_df['valor_total'].sum()
  print('3.4 - Apresente qual produto foi o mais comprado e o somatório de seu valor total: \n','O produto é:', nome_mais_pedido, '\n O valor do produto total é:', sum_produto)
relatorio()

3.1 - Realize o cálculo da quantidade média de compras:  23.333333333333332
3.2 - Realize o cálculo do valor total médio das compras:  68.5
3.3 - Apresente o somatório do valor total das compras realizadas:  411
3.4 - Apresente qual produto foi o mais comprado e o somatório de seu valor total:
 O produto é: pão
 O valor do produto total é: 140

### 4 - Modelo de projeção de vendas utilizando redes neurais artificiais Long Short-Term Memory (LSTM)

4.1 - Brincadeira, este item era só pra dar um susto ❤ <br> 
4.2 - Boa avaliação! Acredite no seu potencial, pois eu acredito! Em caso de dúvidas mandar mensagem **apenas** para o Lucas Costa. 
<br> <br>
time is ticking ⌚

<br><br>
[Playlist recomendada](https://www.youtube.com/watch?v=5qap5aO4i9A)